.cache
.cache
.data
.data
.dev.vars*
.DS_Store
.DS_Store
.env
.env
.env*
.netlify
.netlify
.nitro
.output
.output
.source
.tanstack
.vercel
.vercel
.vinxi
.wrangler
.wrangler/
*.local
/api/
/api/
/blob-report/
/build/
/build/
/playwright-report/
/playwright/.cache/
/public/build
/public/build
/server/build
/server/build
/test-results/
count.txt
dist
dist
dist-ssr
node_modules
node_modules
todos.json
